<%= form_for([@fake_article.fake_news_source, @fake_article]) do |f| %>
  <% if @fake_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fake_article.errors.count, "error") %> prohibited this fake_article from being saved:</h2>

      <ul>
      <% @fake_article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :content %><br />
    <%= f.text_area :content, class: 'form-control', rows: 20 %>
  </div>
  <div class="actions">
    <%= link_to 'Cancel', fake_news_source_fake_articles_path(@fake_article.fake_news_source), class: 'btn btn-secondary' %>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
