<%= form_for([@fake_article.fake_news_source, @fake_article]) do |f| %>
  <% if @fake_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fake_article.errors.count, "error") %> prohibited this fake_article from being saved:</h2>

      <ul>
      <% @fake_article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
