<p id="notice"><%= notice %></p>

<h1>Fake News Sources</h1>

<table class="table">
  <thead>
    <tr>
      <th>Query</th>
      <th>Articles Count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @fake_news_sources.each do |fake_news_source| %>
      <tr>
        <td><%= fake_news_source.query %></td>
        <td><%= fake_news_source.articles_count %></td>
        <td><%= link_to 'Show', fake_news_source %></td>
        <td><%= link_to 'Destroy', fake_news_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fake News Source', new_fake_news_source_path %>
