<p id="notice"><%= notice %></p>

<p>
  <strong>Twitter handle:</strong>
  <%= @fake_news_source.twitter_handle %>
</p>

<p>
  <strong>Filepath:</strong>
  <%= @fake_news_source.filepath %>
</p>

<%= link_to 'Edit', edit_fake_news_source_path(@fake_news_source) %> |
<%= link_to 'Back', fake_news_sources_path %>
